flask
flask-cors
flask-limiter
psutil
requests
pywin32
pycryptodome
gitpython
paramiko
schedule
pystray
pillow
sqlalchemy
cryptography
pyodbc
pyotp
vdf
waitress
bcrypt
secure-smtplib
msal
requests-oauthlib